{% extends "diaAbertoConf/Home.html" %}

	{% block content %}
    	<div class = "row mx-4 my-4">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<p class="text-muted">Dados da atividade</p>
				<hr>
                
                <p><b>Nome:</b> {{ atividade.nome}}</p>
                <p><b>Tipo de atividade:</b> {{ atividade.tipo_atividade }}</p> 
                <p><b>Descrição:</b> {{ atividade.descricao}}</p>
                <p><b>Público alvo:</b> {{ atividade.public_alvo}}</p>
                <p><b>Limite de participantes:</b> {{ atividade.limite_de_participantes }}</p>
                <p><b>Colaboradores:</b> {{ atividade.num_colaboradores }}</p>
                <p><b>Duração:</b> {{ atividade.duracao }}</p>
                <b>Temática:</b>
                {% for form in listTematica %}
                {% if form.atividadeid.id == atividade.id %}
                <p>{{ form.tematicaid.nome }}</p>
                {% endif %}
                {% endfor %}
                {% if listMaterial %}
                <b>Material:</b> 
                {% for form in listMaterial %}
                {% if form.atividadeid.id == atividade.id %}
                <p>{{ form.materialid.nome }} x {{ form.quantidade }}</p>
                {% endif %}
                {% endfor %}
                {% endif %}
                <b>Sessao:</b>
                {% for form in listSessao %}
                {% if form.atividadeid.id == atividade.id %}
                <p>{{ form.data|date:"d-m-Y" }}, {{ form.sessaoid.hora_de_inicio|time:"H:i" }}</p>
                {% endif %}
                {% endfor %}
            </div>
			<div class="col-xs-8 col-sm-8 col-md-8">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-white">
						<li class="breadcrumb-item"><a href="{% url 'diaAbertoConf:index' %}">Início</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'atividades:allAtividades' %}">Atividades</a></li>
                        <li class="breadcrumb-item active">Atribuir local</li>
					</ol>
				</nav>

                <form action = "{% url 'atividades:atribuirLocal' id=atividade.id %}" method="post">
                	{% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-4 col-form-label">
                             <label for="campusid">Campus</label>
                        </div>
                        <div class="col-sm-6">
                            <select name="campusid" id="id_campusid" class = "form-control" required>
                            {% for campus in allCampus %}
                            {% if local.campusid == campus %}
                                <option value="{{campus.id}}" selected>{{campus.nome}}</option>
                            {% else %}
                                <option value="{{campus.id}}">{{campus.nome}}</option>
                            {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-form-label">
                            <label for="nome">Interior</label>
                        </div>
                        <div class="col-sm-8">
                            &nbsp;&nbsp;&nbsp;&nbsp;<input class="show-indoor form-check-input" type="radio" value="True" id="indoor" name="indoor">
                            <label class="form-check-label" for="Sim">Sim</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="hide-indoor form-check-input" type="radio" value="False" id="indoor" name="indoor">
                            <label class="form-check-label" for="Nao">Não</label>
                        </div>
                    </div>
                    <div class="outdoor form-group row" style="display:none">
                        <div class="col-sm-4 col-form-label">
                            <label for="descricao">Nome do local</label>
                        </div>
                        <div class="col-sm-6">
                            <select id="localid_exterior" type="text" name="localid_exterior" class="form-control"> </select>
                        </div>
                    </div>
                    <div class="outdoor form-group row" style="display:none">
                        <div class="col-sm-4 col-form-label">
                            <label for="descricao">Descrição</label>
                        </div>
                        <div class="col-sm-6">
                            <textarea rows="5" cols="3" id="descricao" type="text" name="descricao" class="form-control"> </textarea>
                        </div>
                    </div>
                    <div class="indoor form-group row" style="display:none">
                        <label for="edificio" class="col-sm-4 col-form-label">Edifício</label>
                        <div class="col-sm-6">
                            <select name="edicifioid" id = "id_edicifioid" class = "form-control">
                            </select>
                        </div>
                    </div>
                    <div class="indoor form-group row" style="display:none">
                        <label for="andar" class="col-sm-4 col-form-label">Local</label>
                        <div class="col-sm-6">
                            <select name="localid_interior" id = "id_localid_interior" class = "form-control">
                            </select>
                        </div>
                    </div>
                    <hr>
					<div class="form-group row">
						<div class="col-sm-1 mr-5">
							<a type="button" class="btn btn-secondary" href="{% url 'atividades:allAtividades'%}">Cancelar</a>
						</div>
						<div class="col-sm-1">
							<button type="submit" class="btn btn-primary">Atribuir</button>
						</div>
					</div>
				</form>
			</div>
        </div>
	{% endblock %}

	{% block js %}
		<script type='text/javascript'> 
            $(document).on('click', '.show-indoor', function(){
            $('.indoor').show();
            $('.outdoor').hide();
        });
        $(document).on('click', '.hide-indoor', function(){
            $('.indoor').hide();
            $('.outdoor').show();
        });

        $('input[type=radio]').change(function(){
            console.log("oi");
            if ($(this).val() == 'True'){
                getEdificio();
            }
            else{
                console.log("aa");
                getLocalExterior();
            }
        })

        function getDescricao(){
            localid = $('select[name=localid_exterior]').val();
            request_url = '/GestaoAtividades/getDescricaoLocal/' + localid;
            $.ajax({
                    url: request_url,
                    dataType: "json",
                    success: function(data){
                        $.each(data, function(index, text){
                            $('textarea[name=descricao]').html(text)
                        })
                    },
                });
        }

        function getLocalExterior(){
            campusid = $('select[name=campusid]').val();
            request_url = '/GestaoAtividades/getLocalExterior/' + campusid;
            $.ajax({
                    url: request_url,
                    dataType: "json",
                    success: function(data){
                        $.each(data, function(index, text){
                            $('select[name=localid_exterior]').append(
                                $('<option></option>').val(index).html(text)
                            )
                        })
                        getDescricao();
                    },
                });
        }

            function getLocais(){
                edificioid = $('select[name=edicifioid]').val();
                request_url = '/GestaoAtividades/getLocal/' + edificioid;
                $.ajax({
                    url: request_url,
                    dataType: "json",
                    success: function(data){
                        $.each(data, function(index, text){
                            $('select[name=localid_interior]').append(
                                $('<option></option>').val(index).html(text)
                            )
                        })
                    },
                });
            }

            function getEdificio(){
                 $('select[name=edicifioid]').find('option').each(function(){
                    $(this).remove();
                })
                $('select[name=localid_interior]').find('option').each(function(){
                    $(this).remove();
                })
                campusid = $('select[name=campusid]').val();
                console.log(campusid);
                request_url = '/GestaoAtividades/getEdificio/' + campusid;
                $.ajax({
                    url: request_url,
                    dataType: "json",
                    success: function(data){
                        $.each(data, function(index, text){
                            $('select[name=edicifioid]').append(
                                $('<option></option>').val(index).html(text)
                            )
                        })
                        getLocais()
                    },
                });
            }

            $('select[name=localid_exterior]').change(function(){
               getDescricao();
            })

            $('select[name=campusid]').change(function(){
               getEdificio();
               getLocalExterior();
            })

            $('select[name=edicifioid]').change(function(){
                $('select[name=localid_interior]').find('option').each(function(){
                    $(this).remove();
                })
                getLocais()
            })
        </script> 
	{% endblock %}
